.onboarding-step {
    min-width: 400px;
    max-width: 600px;
    background: var(--color-background);
    border: 1px solid var(--color-grey-soft);
    border-radius: var(--border-radius-outer);
    padding: 40px;
}

.onboarding-step .actions {
    display: flex;
    gap: 8px;
    margin-top: 16px;
}

.tools-step .tools-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin: 24px 0;
}

.tools-step .tools-grid>button {
    padding: 8px 12px;
    color: var(--color-primary);
    border: 1px solid var(--color-grey-soft);
    border-radius: var(--border-radius-inner);
    background: var(--color-grey-softer);
    cursor: pointer;
}

.tools-step .tools-grid>button>img {
    height: 20px;
    vertical-align: middle;
    margin-right: 8px;
}

.tools-step .tools-grid>button.active {
    background: var(--color-primary);
    color: var(--color-on-primary);
}

.users-step .connectors {
    display: flex;
    gap: 8px;
    margin-bottom: 16px;
}

.users-step .users-sync {
    margin: 40px 0;
}

.users-sync .circle {
    margin-left: 16px;
    vertical-align: middle;
}

.circle {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    box-shadow: 0px 0px 1px 1px #ffffff1a;
    background: var(--color-green);
}

.pulse {
    animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.2);
    }

    100% {
        box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
    }
}