/* Override shadcn badge defaults */
.ui-tag {
    padding: 5px 8px !important;
    font-size: 15px !important;
    line-height: 20px !important;
    border-radius: var(--border-radius) !important;
    display: inline-flex !important;
    gap: 5px;
    align-items: center;
    background: var(--color-grey-soft) !important;
    color: var(--color-primary) !important;
    font-weight: 500 !important;
    overflow-wrap: break-word;
    border: none !important;
    box-shadow: none !important;
}

.ui-tag svg {
    width: 16px;
    height: 16px;
}

.ui-tag.info {
    background: var(--color-blue-soft) !important;
    color: var(--color-blue-hard) !important;
}

.ui-tag.success {
    background: var(--color-green-soft) !important;
    color: var(--color-green-hard) !important;
}

.ui-tag.error {
    background: var(--color-red-soft) !important;
    color: var(--color-red-hard) !important;
}

.ui-tag.warn {
    background: var(--color-yellow-soft) !important;
    color: var(--color-yellow-hard) !important;
}

.ui-tag-group {
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.ui-tag.tiny {
    font-size: 12px;
    padding: 2px 4px;
    gap: 2px;
    border-radius: var(--border-radius-inner);
}

.ui-tag.large {
    padding: 10px;
}

.ui-tag.tiny .icon {
    width: 12px;
    height: 12px;
}

.ui-tag-list {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}