.ui-select {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
.select-button {
  height: 46px;
  font-size: 14px;
  font-weight: 400;
}

.select-button.small {
  height: 32px;
}
.select-options {
  max-height: 275px !important;
  z-index: 999 !important;
}

.ui-select-prefix-wrapper {
  margin-right: 8px;
  display: flex;
  align-items: center;
}

.ui-select-prefix {
  border: 1px solid var(--color-grey);
  padding: 12px 15px;
  border-right-width: 0;
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  color: var(--color-primary-soft);
  font-size: 14px;
  box-shadow: var(--shadow-sm);
}

.ui-select-prefix-wrapper .select-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-left: 12px;
  padding-right: 4px;
}
