{{- /*gotype: github.com/lunogram/platform/internal/mailer.content*/ -}}
{{ .ProductName }}

{{ .Heading }}
{{ range .Body }}
{{ . }}
{{ end }}
{{- if .ActionURL }}
{{ .ActionLabel }}:
{{ .ActionURL }}
{{ end }}
{{- if .Footer }}
{{ .Footer }}
{{ end }}
